= render 'shared/side_bar', locals: { group: @group }
.chat-main
  .chat-main__header
    .chat-main__header--group.clearfix
      .chat-main__header--group-name
        = @group.name
      %a.chat-main__header--group-edit-btn{:href => "/groups/1/edit"}  Edit
    .chat-main__header-members
      Member
      %i
        = current_user.name
  .chat-main__body
    = render @messages
  .chat-main__footer
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon-1'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'



















